.job-container {
  display: flex;
  flex-direction: row;
  background-color: #000000;
}

.profile-filters-container {
  display: flex;
  flex-direction: column;
  width: 24%;

  margin-left: 40px;
  margin-right: 50px;
  margin-top: 35px;
}
.hr-line {
  border: 1px solid grey;
  width: 100%;
}
.employment-heading {
  color: #f8fafc;
  font-size: 17px;
  font-weight: 400;
  font-family: 'Roboto';
}

.list-employment {
  width: 100%;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.list-salary {
  width: 100%;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.job-profile-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 35px;
}
.search-input-container {
  background-color: transparent;
  border: 1px solid #7e858e;
  height: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;

  width: 40%;
}

.search-button {
  width: 87%;
  outline: none;
  background-color: transparent;
  border: none;
  padding-left: 0px;
}
.label-input {
  margin: 0px;
  border: none;
  padding: 0px;
  font-size: 0px;
  margin-top: 0px;
  padding-top: 0px;
}

.search-input {
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding-left: 19px;
  background-color: transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Roboto';
}

.search-button-container {
  background-color: #202020;
  height: 100%;
  width: 47px;
  border: none;
  outline: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.search-icon {
  height: 22px;
  width: 22px;
  color: #ffffff;
}

.job-list-container {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 35px;
}

.failure-view-container {
  background-color: #000000;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failure-image {
  height: 300px;
  width: 350px;
  margin-top: 39px;
}

.failure-heading {
  color: #f8fafc;
  font-size: 39px;
  font-weight: 600;
  font-family: 'Roboto';
  margin-bottom: 19px;
  margin-top: 25px;
}
.failure-para {
  color: #f8fafc;
  font-size: 13px;
  font-family: 'Roboto';
  margin-top: 0px;
}

.retry-button {
  height: 40px;
  background-color: #4f46e5;
  border: none;
  outline: none;
  color: #f8fafc;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Roboto';
  border-radius: 3px;
  width: 100px;
  cursor: pointer;
  align-self: center;
  margin-right: 190px;
}

.no-jobs-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  margin-right: 50px;
  align-items: center;
}

.no-jobs-img {
  width: 480px;
  height: 400px;
  margin-top: 60px;
}

.no-jobs-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3px;
  width: 90%;
  text-align: center;
  margin-top: 57px;
}

.no-jobs-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  max-width: 288px;
  line-height: 1.3px;
  width: 90%;
  text-align: center;
}
